@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body {
font-family: 'NanumSquare', sans-serif;
}


.tabl {
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid #168;
    
  }  
  .tabl th {
    color: #168;
    background: #f0f6f9;
    text-align: center;
    font-Style: "NanumSquareB.eot";
  }
  .tabl th, .tabl td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;}

.tabl th:first-child, .tabl td:first-child {
  border-left: 0;
}
.tabl th:last-child, .tabl td:last-child {
  border-right: 0;
}
.tabl tr td:first-child{
  text-align: center;
}
  .tabl caption {
    border-right: 0;
    font-size : x-large;
    font-Style: "NanumSquareB.eot";
    
  }